strong {
	color:#FF5E99 !important;
}

em {
	color: #268bd2 !important;
}

blockquote {
	width : 90% !important;
	border-radius: 5px;
}

.reveal li {
	margin-bottom : 10px !important;
}

.reveal p {
  color: #93a1a1;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #eee8d5;
  /*text-transform: uppercase;*/
  text-shadow: none;
}
